
<html>
    <head>
        <title>Home</title>
    </head>
    <body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBleUsSYLFH1iqUZf9bSN43vGodIgnD-XMJQ&s')">

        <div class="container">
            <h2>Welcome to AsfandBlog Blog Platform</h2>
            <h4>Your Gateway to Smarter Blogging
            Welcome to AsfandBlog, the ultimate cloud-based blog platform designed to inspire creativity, foster connection, and empower your digital voice. Whether you’re a passionate storyteller, an industry expert, or a business looking to grow your online presence, you’ve come to the right place.
            Why AsfandBlog?<br>
            •	Seamless Accessibility: Create, edit, and publish your blogs from anywhere, on any device.<br>
            •	Robust Security: Enjoy peace of mind with our secure blogging platform.</h4>   
          <img src="/assets/asfand.png"/>
          </div>
</body>
</html>